body{
    background-image:url(images/fond.jpg);
    font-family: 'Roboto', sans-serif;
}
.photo{
    text-align: center;
}
h1
{
    border: 10px #ffb5e6 outset;
    text-align:center;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 50px;
    margin-left: 35px;
    margin-right: 35px;
}
footer{
        background-color: #dedee1;
}
footer li {
    width:32%;
    text-align: center;
    list-style: none;
    display: inline-block;
    font-size: 30px;
}

a {
    text-decoration: none;
    color: #da4a98;
}
footer a{
    font-family: sans-serif;
    font-size: 40;
    font-weight: bold;

}

.telephone{
    font-size: 20px;
    text-align: center;
}
.fbtwitter{
    text-align: center;
}

p{
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 40px;
}
h3{
    margin-right: 150px;
    margin-left: 150px;
    font-size: 30px;
    margin-top: 50px;
}
.parischampions{
    margin-right: 150px;
    margin-left: 150px;
    float:left;
    margin-top: 25px;
    margin-bottom: 20px;
}
.onece{
    margin-right:150px;
    margin-left: 150px;
    margin-top: 70px;
    float:right;
}
.montages{
    text-align: center;
}
.soeurs{
    float: left;   
    margin-top: 30px;
}
.amorino{
    float: right;
}